:root{
    --background: #FAF3DD;
    --header:#2E1D03;
    --text:#817B74;
    --white:#FFFFFD;
    --frame: #f8f0e3;
    --whitetwo: #FFFFFF;
    --frametwo: #F8F8FF;
    --smalltext: #03011C;
    --hover: #6E260E;
    --hovertext: #E97451;
    --color: #8B0000;
}